@media (max-width: 768px) {
    body, html {
        overflow-y: auto;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }

    /*MENU HAMBURGUER*/ 
    #menu {
        display: none;
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        height: 50%;
        background-color: rgba(0,0,0,0.9);
        z-index: 1000;
    }

    .menu {
        display:flex;
        flex-direction: column;
    }

    .itensNav {
        color: white;
        padding: 10px;
        display: block;
        text-decoration: none;
    }

    .itensNav:hover {
        background-color: rgba(255,255,255,0.1);
    }

    .hamburger {
        display: block;
        top: 0;
        right: 10px;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger span {
        display: block;
        height: 2px;
        background-color: #232E26;
        margin: 4px 4px;
    }

    #menuDivisionLarge {
        display: none;
    }
    /*NAVBAR*/



/*COMEÇO DO MAIN*/
    main {
        padding: 80px 10px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .orange-box {
        flex-direction: column; 
        width: 90%;
        padding: 10px;
        background-color: #F9B67A;
        gap: 10px;
        height: 820px;
    }

    .text-box {
        width: 100px;
        height: 30px;
    }

    .main_title {
        margin: 20px 0 40px;
    }

    .box {
        width: 90%;
        max-width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


    /*FOOTER*/
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: 500px;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerRightSide {
        display: none; 
    }

    .footerLeftSide {
        align-items: center;
        margin-left: 0;
    }

    .footerLeftSide p {
        text-align: center;
    }

    .copyright {
        width: 100%;
        justify-content: center;
        margin: 0;
    }



@media (max-width: 576px) {
    .header-container {
        flex-direction: column;
    }
    .text-box {
        width: 80px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }
    .logo-image {
        width: 30px;
        height: 30px;
    }
    .text-box {
        width: 70px;
        height: 20px;
    }
    }
}
