@media (max-width: 1000px) {
    body, html {
        overflow-y: auto;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }

/*MENU HAMBURGUER*/ 
    #menu {
        display: none;
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        height: 50%;
        background-color: rgba(0,0,0,0.9);
        z-index: 1000;
    }

    .menu {
        display:flex;
        flex-direction: column;
    }

    .itensNav {
        color: white;
        padding: 10px;
        display: block;
        text-decoration: none;
    }

    .itensNav:hover {
        background-color: rgba(255,255,255,0.1);
    }

    .hamburger {
        display: block;
        top: 0;
        right: 10px;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 1001;
    }

    .hamburger span {
        display: block;
        height: 2px;
        background-color: #232E26;
        margin: 4px 4px;
    }

    #menuDivisionLarge {
        display: none;
    }
/*NAVBAR*/



/*COMEÇO DO MAIN*/
    main {
        padding: 80px 10px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .orangeBox {
        flex-direction: column; 
        width: 90%;
        padding: 10px;
        background-color: #F9B67A;
        gap: 10px;
        height: auto;
    }

    .textBox {
        width: 100px;
        height: 30px;
    }

    .mainTitle {
        margin: 40px 10px 20px 10px;
    }

    .mainTitle h1 {
        font-size: 24px;
    }


/*SECTION COM OS IFRAMES*/
    .boxFiis, .boxCryptocurrency {
        justify-items: center;
        flex-direction: column;
    }

    .boxFinancialMarket {
        justify-items: center;
        flex-direction: column-reverse;
    }

    .boxExplication {
        width: 90%;
        max-width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }


/*FOOTER*/
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: 500px;
    }

    .footerContainer {
        flex-direction: column;
        align-items: center;
    }

    .footerRightSide {
        display: none; 
    }

    .footerLeftSide {
        align-items: center;
        margin-left: 0;
    }

    .footerLeftSide p {
        text-align: center;
    }

    .copyright {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
}
