@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
  }

body {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    background-color: #FFDDDF;
}

nav{
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
  }
  
  .menu {
    padding: 16px 0;
  }
  
  .itensNav {
    font-size: large;
    color: #232E26;
    text-decoration: none;
    width: fit-content;
  }
  
  .itensNav:hover {
    color: #FFD050;
    transition: .3s;
  }
  
  nav .menu li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .logo-title{
    color: #232E26;
    font-size: 18px;
  }
  
  #contact {
    border: 1px solid #232E26;
    border-radius: 50px;
  }
  /*FIM DO NAVBAR*/

main {
    flex: 1; 
    padding: 50px 20px 60px; 
}

.banner-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px; 
}

.orange-box {
    background-color: #F9B67A;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border-radius: 30px;
    height: 200px;
}

.text-box {
    background-color: #f2775d; 
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; 
    width: 120px; 
    text-align: center; 
}

.text-box:hover {
    background-color: #FFDDDF;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.banner-item {
    text-align: center;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.banner-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.banner-item p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.main_title {
    margin-top: 30px;
    margin-bottom: 60px;
}

.main_title h1 {
    text-align: center;
    margin: 20px 0 10px;
}

.main_title p {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxes1, .boxes2, .boxes3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

/*CAIXA DE TEXTO*/
.box {
    background-color: #fff;
    flex: 1;
    height: auto; 
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #F9B67A; 
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.explicacaoDash {
    margin-top: 0;
    text-align: center;
}

.detalhesDash {
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.detalhesDash li {
    margin-bottom: 10px;
}

/*CAIXA DE IMAGEM*/
.box_large {
    background-color: #fff;
    flex: 3;
    height: 500px; 
    border-radius: 30px;
    border: 2px solid #F9B67A; 
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0; /* Remover padding */
}

.imageDash {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 30px;
}


/*FOOTER*/
footer {
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto; 
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-block-end: 3vh;
  }
  
  .logo-title-footer {
    color: #232E26;
    font-size: 18px;
  }

.footer-container {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer-nav1, .footer-nav2 {
    margin-top: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.footer-nav1 p {
    color: #4F5665;
    text-align: start;
    margin-block-end: 4vh;
    max-width: 60%;
}


/*LADO DIREITO DO FOOTER*/
.footer-nav2 {
    display: flex;
    margin-top: 100px;
    gap: 2rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
}

.footer-nav1_bottom p {
    margin-top: 4vh;
    font-size: 16px;
    color: #AFB5C0;
}

.footer-nav2_top{
    gap: 10rem;
}

.footer-nav1_middle, .footer-nav1_bottom, .footer-nav2_top {
    display: flex;
    flex-direction: row;
}

footer a {
    color: inherit; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}

.footer-nav1_middle {
    margin-left: -10px;
    gap: 5px;
}

.footer-nav1_bottom {
    margin-top: 10px;
}

.social-button {
    display: inline-block;
    margin: 0 10px;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.social-button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.social-icon {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}

a {
    color: inherit; 
    text-decoration: none; 
}

a:hover {
    text-decoration: none; 
}



@media (max-width: 768px) {
    body, html {
        overflow-y: auto;
    }
    header {
        display: flex;
        justify-content: center;
    }
    .header-container {
        justify-content: center; 
        padding: 10px 0;
    }
    nav {
        display: none; 
    }

    main {
        padding: 80px 10px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .orange-box {
        flex-direction: column; 
        width: 90%;
        padding: 10px;
        background-color: #F9B67A;
        gap: 10px;
        height: 820px;

    }

    .text-box {
        width: 100px;
        height: 30px;
    }

    .main_title {
        margin: 20px 0 40px;
    }

    .box {
        width: 90%;
        max-width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: 500px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav2 {
        display: none; 
    }

    .footer-nav1 {
        align-items: center;
}

@media (max-width: 576px) {
    .header-container {
        flex-direction: column;
    }
    .text-box {
        width: 80px;
        height: 25px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px;
    }
    .logo-image {
        width: 30px;
        height: 30px;
    }
    .text-box {
        width: 70px;
        height: 20px;
    }
}

}
