@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    background-color: #FFDDDF;
}

nav{
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
}

.menu {
    padding: 16px 0;
}

.itensNav {
    font-size: large;
    color: #232E26;
    text-decoration: none;
    width: fit-content;
}

.itensNav:hover {
    color: #FFD050;
    transition: .3s;
}

nav .menu li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logoTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #232E26;
    font-size: 18px;
}

#contact {
    border: 1px solid #232E26;
    border-radius: 50px;
}

.hamburger {
    display: none;
}
/*FIM DO NAVBAR*/

  
  
main {
    flex: 1; 
    padding: 50px 20px 60px; 
}

.bannerItem img {
    width: 150px;
    height: 150px;
    border-radius: 10px; 
}

.orangeBox {
    background-color: #F9B67A;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border-radius: 30px;
    height: 200px;
}

.textBox {
    background-color: #f2775d; 
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; 
    width: 120px; 
    text-align: center; 
}

.textBox:hover {
    background-color: #FFDDDF;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bannerItem {
    text-align: center;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bannerItem img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.bannerItem p {
    font-size: 18px;
    font-weight: bold;
}

.mainTitle {
    margin-top: 30px;
    margin-bottom: 60px;
}

.mainTitle h1 {
    text-align: center;
    margin: 20px 0 10px;
}

.mainTitle p {
    text-align: center;
    margin-bottom: 20px;
}

.contentDashs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boxFiis, .boxFinancialMarket, .boxCryptocurrency {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

/*CAIXA DE TEXTO*/
.boxExplication {
    background-color: #fff;
    flex: 1;
    height: auto; 
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #F9B67A; 
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.explicationDash {
    margin-top: 0;
    text-align: center;
}

.detailsDash {
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.detailsDash li {
    margin-bottom: 10px;
}

/*CAIXA DE IMAGEM*/
.boxIframe {
    background-color: #fff;
    flex: 3;
    height: 500px; 
    border-radius: 30px;
    border: 2px solid #F9B67A; 
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0; /* Remover padding */
}

.imageDash {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 30px;
}



/*FOOTER*/
footer {
    background-color: #fff;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
    width: 100%;
    margin-top: auto; 
}
  
footer a {
    color: inherit; 
    text-decoration: none; 
}
  
footer a:hover {
    text-decoration: underline; 
}

.logoFooter {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-block-end: 3vh;
}
  
.logoTitleFooter {
    color: #232E26;
    font-size: 18px;
}
  
.footerContainer {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
  
.footerLeftSide, .footerRightSide {
    margin-top: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
}
  
.footerLeftSide p {
    color: #4F5665;
    text-align: start;
    margin-block-end: 4vh;
    max-width: 60%;
}
  
.footerSocialNetwork {
    margin-left: -10px;
    gap: 5px;
}
  
.socialButton {
    display: inline-block;
    margin: 0 10px;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: 0.3s,
}
  
.socialButton:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.socialIcon {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50%;
}

.copyright {
    margin-top: 10px;
}

.copyright p {
    margin-top: 4vh;
    font-size: 16px;
    color: #AFB5C0;
}

/*LADO DIREITO DO FOOTER*/
.footerRightSide {
    display: flex;
    margin-top: 100px;
    gap: 2rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
}

.footerRightLinks {
    gap: 10rem;
}

.footerSocialNetwork, .copyright, .footerRightLinks {
    display: flex;
    flex-direction: row;
}

a {
    color: inherit; 
    text-decoration: none; 
}

a:hover {
    text-decoration: none; 
}